*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.basic{
    position: relative;
    width: 100%;
    height: auto;
    background-color: rgb(111, 165, 17);

}
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}
  nav ul li a{
    text-decoration: none;
    color: rgb(33, 3, 99);
    font-weight: bold;
 }
 nav ul li a:hover{
    color: rgb(124, 45, 90);

 }
 .detel{
    margin-left: 8%;
    margin-top: 15%;

 }
 .detel h1{
    font-size: 50px;
    color: darkblue;
    margin-bottom: 20px;

 }

 .detel p{
    color: rgb(68, 42, 42);
    line-height: 22px;

 }
 .detel a{
    background: black;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: aliceblue;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
 }